html{
  font-size: 100%
}

body{
  background-color: #d4c390;
}

p{
  color: #000000;
  font-family: 'Merriweather', Georgia, "Times New Roman", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}

h2{
  font-family: 'Merriweather', Georgia, "Times New Roman", sans-serif;
  text-align: center;
  font-size: 24px;
}


#container{
  width: 95%;
  margin: 0 auto;
}


.italic{
  font-style: italic;
}

/* flex box style below */


.navigation{
	list-style: none;
	margin: 0;
	background: gray;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}


img{
  border: none;
  width: 100%;
  float: left;
}



.wrapper {
    display: flex;
    flex-flow: row wrap;
}


header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}


@media (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: black;
    }

    aside {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
      order: 3;
    }

    footer {
        order: 4;
    }

    article {
        display: flex;
        flex-flow: row wrap;
        flex-wrap: wrap;
    }




        .image {
            width: 45%;
            object-fit: contain;
        }

        .story {
            width: 45%;
        }

        .first {
            margin-top: 0;
        }
    }
