html{
  font-size: 100%
}

body{
  background-color: #d4c390;
}

p{
  color: #000000;
  font-family: 'Merriweather', Georgia, "Times New Roman", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}

h2{
  font-family: 'Merriweather', Georgia, "Times New Roman", sans-serif;
  text-align: center;
  font-style: bold;
  font size: 1rem;
}


#container{
  width: 90%;
  margin: 0 auto;
}

#nav{
  padding: 0;
  list-style-type: none;

}

#nav li{
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #ccc;
  text-decoration: none;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #ffffff;
  background-color: #90a1d4;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding:4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active{
  background-color: #7a991a;
}


img{
  border: none;
}

.italic{
  font-style: italic;
}
